.app-container {
  width: 100%;
  height: 100%;

  background: grey;
}

.buttons-container {
  .display-news {
    li {
      display: none;
    }
    .back-btn {
      display: block;
    }
  }
  .back-btn {
    display: none;
  }
}
